<div class="container-fluid">
    <div class="row">
        {% for item in news %}
        <div class="col-12 col-sm-6 col-md-4" style="cursor: pointer;">
            <div class="card m-2 p-2" >
                <a href="{{ item.get_absolute_url }}" style="text-decoration: none; color: black;">
                    {% if item.photo %}
                        <img src="{{ item.photo.url }}" style="width: 140px; height: 120px;" alt="">
                    {% endif %}
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.content|truncatewords:20}}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>